<p><span class="icon">💥</span></p>

<p>Opps, unable to display image!</p>

<h1>Problem Details</h1>

<dl>
  <dt class="key">Type:</dt>
  <dd class="value"><%= problem.type %></dd>

  <dt class="key">Status:</dt>
  <dd class="value"><%= problem.status %></dd>

  <dt class="key">Title:</dt>
  <dd class="value"><%= problem.title %></dd>

  <dt class="key">Detail:</dt>
  <dd class="value"><%= problem.detail %></dd>

  <dt class="key">Instance:</dt>
  <dd class="value"><%= problem.instance %></dd>
</dl>
